body {
     font-family: 'Lato', sans-serif;
     font-weight: 300;
     color: #5a5a5a;
     font-size: 18px;
 }
.padding, .padding h1 {
    color: white;

}
nav, {
    font-weight: 700;
    text-align: center;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand {
    color: white;
    font-size: 30px;
    float: none;
    line-height: 45px;
}

.purple, .purple p {
    color: #ed145b;
}
button.navbar-toggle.collapsed {
    margin: 0;
    color: white;
    width: 100%;
    padding-top: 30px;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #ed145b;
    font-weight: 900;
    margin-top: 10px;
}
.navbar-default .navbar-nav>li>a {
    color: white;
    font-weight: 900;
    margin-top: 10px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: white;
}

.navbar-toggle {
    position: relative;
    float: none;
    padding: 0 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    text-align: center;
    padding-top: 30px;
}

.navbar-nav>li>a, .dropdown-menu>li>a, .navbar-default, .navbar-default, .navbar-nav>li>a {
    color: white;
}
.navbar-nav>li>a:hover, .navbar-default, .navbar-default:hover, .navbar-nav>li>a, .navbar-nav>li>a:focus, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, a.dropdown-toggle:hover, .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    color: #ed145b;
    background-color: transparent;
}
.navbar.navbar-default.navbar-fixed-top {
    background-color: rgba(0, 0, 0, 0.7);
    height: 51px;
}
ul.navbar-nav>li>a {
    color: white;
}

.height {
    height: 2000px;
}
.head {
    background: url("image/head.png") center no-repeat;
    background-size: cover;
    padding: 0;
    min-height: 50px;
    z-index: 10;

}
.dropdown-menu {
    background: transparent;
}
@media (min-width: 1200px) {

    .head {
        min-height: 800px;
    }
    a.navbar-brand {
        padding-left: 0;
    }
    .navbar-nav>li>a:hover, a.dropdown-toggle:hover, a.dropdown-toggle:active  {
        background: none;
    }


}
.navbar-header {
    z-index: 100;
}
.dropdown-menu {
    -webkit-animation-duration: 0.55s;
    animation-duration: 0.55s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
}
h1 {
    text-transform: uppercase;
}
p.twentytwo {
    font-size: 22px;
    padding: 30px;
}
.row {
    text-align: center;
}
h1 {
    border-bottom: solid 1px #ed145b;
    padding: 30px;
}
button.btn.btn-default:active, button.btn.btn-default, button.btn.btn-default:active, button.btn.btn-default:focus, button.btn.btn-default:hover, button.btn.btn-default:focus {
    background-color: transparent;
    border-radius: 200px;
    text-transform: uppercase;
    color: white;
    border: solid 2px #ed145b;
    outline: none;
    padding: 10px 20px;
    margin-bottom: 35px;
}
button.btn.btn-default:hover {
    background-color: #ed145b;
    border: solid 2px transparent;
}
.about-background {
    color: #5a5a5a;
    background-color: #f4f4f4;
    -webkit-box-shadow: inset 0 0 25px -5px rgb(0, 0, 0);
    -moz-box-shadow: inset 0 0 25px -5px rgb(0, 0, 0);
    box-shadow: inset 0 0 25px -5px rgba(0, 0, 0, 1);
}
img {
    width: 90%;
    padding: 30px 0;
}
.about>.row>div>h1, .services>.row>h1 {
    color: #5a5a5a;
    text-transform: none;
    font-style: italic;
}
.services p {
    color: #5a5a5a;
    padding-bottom: 40px;
}
.icons p {
    text-transform: uppercase;
    text-align: center;
    padding: 15px 0;
    font-weight: 600;
}
.carousel {
    min-height: 515px;
    height: auto;
    background: url("image/quote.png") left center;
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: 900;
    vertical-align: middle;
    margin: 40px 0 0;
    -webkit-box-shadow: 0 0 86px -20px rgba(0,0,0,1);
    -moz-box-shadow: 0 0 86px -20px rgba(0,0,0,1);
    box-shadow: 0 0 86px -20px rgba(0,0,0,1);

}
.carousel .fa {
    margin: 5% 0;
}
.prices-background {
    background-color: #f4f4f4;
}
h1 small {
    font-size: 18px;
    text-transform: lowercase;
    padding-top: 5px;
}
.prices h1, h1 small {
    border: none;
    color: white;
    margin-bottom: 0;
}
.prices h1 {
    padding: 20px;
}
.color {
    background-color: #5a5a5a;
    position: relative;
    border: 1px solid #5a5a5a;
}
.rounded {
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: -20px;
    border-radius: 200px;
    border: 1px solid #ed145b;
    width: 80%;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    color: #ed145b;
    text-transform: uppercase;
    font-weight: 900;
    background-color: #f4f4f4;
}
.description {

    height: auto;
    margin-bottom: 40px;
    border: 1px solid #5a5a5a;
}
@media (min-width: 993px ) and (max-width: 1500px) {
    .description{min-height: 340px;
        }
    .shadow {
        min-width: 160px;
    }
}
.description>.btn.btn-default.rounded {
    background-color: #ed145b;
    color: white;
    bottom: 3%;
    height: auto;
}
.description>p {
    font-size: 18px;
    margin: 30px 10px 60px;
}
.shadow {
    -webkit-box-shadow: 0 0 86px -20px rgba(0,0,0,1);
    -moz-box-shadow: 0 0 86px -20px rgba(0,0,0,1);
    box-shadow: 0 0 86px -20px rgba(0,0,0,1);
    height: auto;
}
.shadow:hover .color, .shadow:hover .rounded {
    background-color: #ed145b;
    color: white;
    border: 1px solid #5a5a5a;
    box-sizing: border-box;
}
.shadow:hover .description>.btn.btn-default.rounded {
    background-color: white;
    color: #ed145b;
    border: 1px solid #ed145b;
}
.shadow:hover, shadow:focus {
    -webkit-box-shadow: 0 0 86px -20px rgb(237, 20, 91);
    -moz-box-shadow: 0 0 86px -20px rgb(237, 20, 91);
    box-shadow: 0 0 86px -20px rgb(237, 20, 91);
}
.additional-background {
    -webkit-box-shadow: inset 0 0 25px -5px rgb(0, 0, 0);
    -moz-box-shadow: inset 0 0 25px -5px rgb(0, 0, 0);
    box-shadow: inset 0 0 25px -5px rgba(0, 0, 0, 1);
}
.additional>.row>div {
    margin-top: 50px;
}
.additional>.row>div>p {
    width: 70%;
    margin: 15px 15%;
}
.pink, .pink h1 {
    min-height: 200px;
    background-color: #ed145b;
    font-weight: 300;
    color: white;
    padding-top: 30px;
}
#whitebutton {
    margin-top: 30px;
    background-color: white;
    color: #ed145b;
    width: 150px;
    height: auto;
    font-size: 20px;

}
.news>.row>div {
    background-color: #f4f4f4;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 30px;
}
.row {
    margin-left: 0;
    margin-right: 0;
}

.news img {
    width: 100%;
    padding: 0;
    position: relative;

}
h4 {
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    z-index: 100;
}
footer {
    position: relative;
    background-color: #2b2b2b;
    vert-align: middle;
}
h1.delic {
    font-size: 56px;
    position: absolute;
    top: 26px;
    bottom: 0;
    color: rgba(255, 255, 255, 0.1);
    border-bottom: none;
    text-transform: none;
    width: 100%;
    z-index: 0;
    margin: 0;
    padding: 0;
    text-align: center;
}
.extra {
    position: relative;
}

.extra::after {
    content: '';
    position: absolute;
    top:0;
    width: 100vw;
    height: 100%;
    left:50%;
    transform:translateX(-50%);
    background-size: cover ;
    background: url(http://lorempixel.com/output/abstract-q-c-1000-250-5.jpg) no-repeat;
}
.head h1 {
    padding-top: 130px;
}
@media (min-width: 992px) {
    .col-md-offset-2 {
        margin-left: 2%;
    }

    .col-md-5 {
        width: 48%;
    }

}
@media(max-width:767px){
    .col-xs-12 {
        width: 80%;
        margin: 0 10%;
        padding-left: 0;
        padding-right: 0;
    }
}
.margin-top {
    padding-top: 40px;
}
nav {
    background-color: transparent;
}
.navbar.navbar-default.navbar-fixed-top {
    background-color: rgba(0, 0, 0, 0.51)
    color: white;
}